---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
const pageTitle = "Home page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog homepage</h2>
</BaseLayout>
